<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Translation To PigLatin</title>
  </head>
  <body>
    <h1>Your Translated Text</h1>

    <h2><%=@translated_text%> </h2>
  </body>
</html>
